.heading {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.text-container {
  background-color: #EDDDD4;
  padding: 25px;
  margin-left: 90px;
  margin-right: 90px;
  color: #283D3B;

  h1, h3 {
    color: #772E25;
  }

  h3 {
    margin-top: 20px;
  }
}
