// Import page-specific CSS files here.
@import "home";
@import "about";
@import "creatures";

.cover {
  background-color: #197278;
  padding: 20px;
  text-align: center;
  color: white;
}

.index-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
}
