<div class="form">
  <div class="form-group">
      <h2>Add a mighty creature of your choice!</h2>
      <p>From Hippogriffs to Power Rangers we accept it all</p>
<%= render "shared/form"  %> 
  </div>
</div>

