<div class="container mt-4 display: flex">
  <div class="row align-content: space-between;">
    <div class="col-sm col-4">
        <div class="card">
            <% @creatures.first(3).each do |creature| %>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= creature.name %>
                    </h5>                    
                    <p class="card-text">
                        <%= creature.age %>
                    </p>
                    <p class="card-text">
                        <%= creature.ability %>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <%= creature.description %>
                    </small>                
                </div>
            <% end %>
        </div>      
    </div>
  </div>
</div>
