<div class="container mt-4">
  <div class="row">

 <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <% @creatures.first(3).each do |creature| %>
                <div class="card-body">
                    <h5 class="card-title">
                    <%= creature.name %>
                    </h5>                    
                    <p class="card-text">
                    <%= creature.age %>
                    </p>
                     <p class="card-text">
                    <%= creature.ability %>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <%= creature.statut %>
                    </small>                
                </div>
                <% end %>
            </div>      
        </div>
  </div>
</div>
