<div class="container">
  <header>
    <h1>About</h1>
  </header>
  <div>
    <h3>Who are we?</h3>
    <p>
      We are a group of people striving to create equal-opportunity adoption. We believe that no creature, mythical or otherwise,
      deserves to feel less loved or less wanted just because they might be a little different. Our goal is to connect those animals
      in need of a loving home with those who want to provide one. Start today to give a forever home and make the world a little brighter.
    </p>
    <h3>Why do we do this?</h3>
    <p>
     When we were three young children growing up in the country of Switz-uguay, we witnessed first hand how many mythical creature
     ended up having to live as strays, scrounging food wherever they could and fighting against the harsh winters and boiling summers.
     We vowed then that we would be the ones to make a change. We would provide a robust platform to join animals and animal lovers together
     and afford everyone the opportunity to experience a little bit more joy in their life.
     So what if a ghost isn't as good at playing fetch as a dog? It doesn't mean they don't want to try!
     And yeah, maybe a 50m-long dragon isn't the ideal companion in your 15 square-meter apartment in Neu-Kölln, but it doesn't mean
     they don't still deserve the chance to be loved!
    </p>
    <h3>Need more info?</h3>
    <p>
      Feel free to contact us for more info if you still have questions about the process!
      We can be reached by carrier pigeon or by sending a message through the shadow realm via your local necromancer.
    </p>
  </div>
</div>
