<div class="container">
  <header>
    <h2>About</h2>
  </header>
  <div>
    <h3>Who we are</h3>

    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p>
    <h3>Why do we do this?</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Dolor magna eget est lorem ipsum dolor sit. Nisi scelerisque eu ultrices vitae auctor.
     In ornare quam viverra orci sagittis eu. Odio morbi quis commodo odio. Elit duis tristique sollicitudin nibh sit amet.
     Non diam phasellus vestibulum lorem sed. Convallis posuere morbi leo urna. Mi proin sed libero enim sed faucibus turpis in.
     Nisi quis eleifend quam adipiscing vitae.
     Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Nibh venenatis cras sed felis eget velit aliquet.
    </p>
    <h3>Need more info?</h3>
    <p>
      Turpis cursus in hac habitasse platea dictumst.
      Enim nec dui nunc mattis enim. Cursus turpis massa tincidunt dui ut ornare lectus. Leo in vitae turpis massa.
      Integer quis auctor elit sed vulputate mi sit amet. Tellus in metus vulputate eu scelerisque felis imperdiet.
    </p>
  </div>
</div>
