<div class="banner">
  <div class="banner-intro">
      <h2>Make your dreams come true and get yourself a mighty creature or character!</h2>
      <p>From Hippogriffs to Power Rangers we have it all</p>
      <%= link_to "View All", creatures_path, class: 'btn btn-info text-white mt-3' %>
  </div>
</div>

<%= render "shared/banner"  %> 
