.img-display {

    width: 30%;
}

.form-creature-container {
    margin: 30px 80px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.form-creature-box {
    width: 50vw;
}