.form-container {
  margin: 30px 80px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: bold;
  }


}

.form {
  flex-grow: 1;
  margin-right: 20px;
}
