.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-custom {
  background-color: #283D3B;
  color: white;
}

.custom {
  color: white !important;
  border-radius: 5px;
}

.custom:hover {
  background-color: white !important;
  color: #C44536 !important;
}
